{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.css' | asset_url | stylesheet_tag }}
{{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}

<input type="hidden" id="blogId" value="{{ article.id }}" />

{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %}


<script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script> {% endcomment %}
<script src="{{ 'jquery-plugin-collection.js' | asset_url }}" defer></script>
<script src="{{ 'script.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Blog Post",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

